<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>望海SAAS应用平台</title>
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link href="/public/vadp-ui/index.css"  rel="stylesheet" type="text/css"/>
  <link href="/public/fonts/iconfont/iconfont.css" rel="stylesheet" type="text/css"/>
  <script src="/public/js/rem.js"></script>
  <script src="/public/js/aes.js"></script>
  <style>body{min-width:1200px;}</style>
</head>

<body>
  <div id="root"></div>
  <script type="text/javascript"  charset="UTF-8"></script>
</body>

</html>
